body{
	font-family: 'Poiret One', cursive;
}
h1{
	font-family: 'Pacifico', cursive;
}
h2{
	font-family: 'Poiret One', cursive;
}
h1.title-container{
	padding:30px 0;
	font-size: 40px;
	color: #DF0174;
}

.padding-30{
	padding:30px;
}
.container-top .navbar-default .navbar-header .navbar-brand{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.container-top .navbar-default.affix .navbar-header .navbar-brand{
	color:#fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus{
	color: #DF0174;
	background-color: transparent;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
	margin-bottom:150px;
	transition: background-color 0.5s;
}
.navbar-default.affix{
	width: 100%;
	margin-bottom: 0px;
	background-color: #151515;
	opacity: 0.9;
	top:0;
	z-index:1004;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.5);
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form{
	border-color: transparent;
}
.navbar-default.affix .navbar-nav>li>a{
	color: #fff;
}
.navbar-default.affix .navbar-nav>.active>a, 
.navbar-default.affix .navbar-nav>.active>a:focus, 
.navbar-default.affix .navbar-nav>.active>a:hover{
	color: #DF0174;/*hover de la letra a negro active*/
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #DF0174;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #DF0174;/*active primero*/
    background-color: transparent;
}
.container-top{
	background: url(../img/background/galaxia.jpg);
	background-size: cover;
}
.container-top h1,
.container-top p{
	color: #fff;	
}
.container-top h1{
	margin:10px 0 30px 0;
}
.container-top p{
	font-size: 18px;
	font-weight: 30px;
	text-align: center;
}
.container-top .text-hero{
	padding-top: 30px;
	padding-bottom: 180px;
	background:rgba(0,0,0,0.5);
}
.container-top .text-hero h1 {
	font-size:70px;
}
.container-top .botones{
	text-align: center;
	padding: 15px;
}
.container-top .botones .btn {
	margin:20px;
}
.btn{
	border-radius: 0px;
}

.btn-link{
	background-color: rgba(255,255,255,0.06);
	border-color: rgba(255,255,255,0.1);
	color: #fff;
}
.btn-link:hover{
	color: #fff;
	text-decoration: none;
}
.btn-default{
	border-color: #fff;
}

/*sobre mí*/
section{
background: url(../img/background/ciudad.png);
background-position: bottom;
background-size: cover;
}
.perfil{
	padding: 150px 0;
}
.image-perfil img{
	max-width: 100%;
	vertical-align: middle;
}
.dos{
	margin: 40px 0 40px 0;
}
.texto1 h3{
	margin: 0 auto;
	font-family:'Pacifico', cursive;
	font-size: 60px;
	color:#DF0174;
	margin-bottom: 20px;
}

.texto1 p{
	text-align: justify;
	font-size: 25px;
	font-family: 'Economica', sans-serif;
}
.biografia{
	padding: 20px;
}
.biografia p{
	padding: 10px;
	font-family: 'Poiret One', cursive;
}

/*portfolio*/
.content-portfolio{
	background-color: #F4F4F4;
	padding: 20px 0;
}

.content-portfolio .portfolio-item{
	background-color: #fff;
	/*border: 1px solid #ccc;*/
	margin: 10px;
	padding: 22px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.5);
}
.content-portfolio .portfolio-item img{
	width: 100%;
}
.content-portfolio .nav{
	display: inline-block;
}
.content-portfolio .portfolio-item h4{
	font-weight: bold;
}

.portfolio-item h4{
	color: #DF0174; 
}
.portfolio-item a:hover{
	text-decoration: none;
}
.portfolio-item img{
	-webkit-transition: all 0.6s ease; /* Safari and Chrome */
    -moz-transition: all 0.6s ease; /* Firefox */
    -ms-transition: all 0.6s ease; /* IE 9 */
    -o-transition: all 0.6s ease; /* Opera */
    transition: all 0.6s ease;
}
.portfolio-item:hover img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}
/*frase feliz*/
.content-call{
	background: url(../img/background/cold5.jpg);
	background-position: center;
	background-size: cover;
	height: 450px;
	position: relative;
}

.overlay{
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: block;
	/*position: absolute;
	top: 0;
	left: 0;*/
	padding: 20px 20px;
}
.content-call h1{
	color:white;
	font-size: 70px;
}
/*habilidades*/
.content-habilidades{
padding: 30px 0;
}
.content-habilidades h1{
	font-size: 40px;
	color:#DF0174;
}
.content-habilidades .icon{
	font-size: 150px;
	text-align: center;
	color: #BDBDBD;
}
.content-habilidades i:hover{
	color: #DF0174;
	transition: all 0.3s;
}
.content-habilidades p{
	font-size: 17px;
}



/*contact****************/
.content-contact{
	background: url(../img/background/contactus.jpg);
	background-size: cover;
	color: #fff;
	position: relative
}

/*footer************/
.redes .social{
	margin: 70px 0;
}
footer ul li{
	list-style: none;
	display: inline-block;
}
footer ul{
	margin: 0;
	padding: 0;
}
.primes{
	background-color: #222222;
	height: 100px;
	color: #7D7D7D;
}
.primes>p{
	padding-top: 50px;
}
.redes .icon{
	font-size: 41px;
	color: #323A45;
	margin: 0 10px;
}
